h1{
	color: black;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	background: #6D1B83;
	background: -webkit-linear-gradient(right, #6D1B83, #FFFFFF);
	background: -moz-linear-gradient(right, #6D1B83, #FFFFFF);
	background: linear-gradient(to left, #6D1B83, #FFFFFF);
	
}

.parrafo{
	background: #6D1B83;
	background: -webkit-linear-gradient(right, #6D1B83, #FFFFFF);
	background: -moz-linear-gradient(right, #6D1B83, #FFFFFF);
	background: linear-gradient(to left, #6D1B83, #FFFFFF);
}

.navegacion{
	font-size: x-large;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;


	
	background: #6D1B83;
	background: -webkit-linear-gradient(right, #6D1B83, #FFFFFF);
	background: -moz-linear-gradient(right, #6D1B83, #FFFFFF);
	background: linear-gradient(to left, #6D1B83, #FFFFFF);
}






.error-msg{
	color:#d50043;
}